<script lang="ts">
  import { afterUpdate, createEventDispatcher } from "svelte";
  import { getSetting } from "module/settings";
  import { ModuleSetting } from "../module/store/ModuleSettings";
  import type { DocumentAction } from "../module/actions";
  import type { SearchResult, SearchItem } from "../module/searchLib";
  import { formatMatch } from "../module/searchLib";

  const dispatch = createEventDispatcher();
  export let tooltips: "LEFT" | "RIGHT" = "LEFT";

  export let active: boolean = false;
  export let results: (SearchResult & {
    actions: DocumentAction[];
    defaultAction: string;
  })[] = [];
  export let selectedIndex: number = 0;
  export let selectedAction: string = "show";

  let resultList: HTMLElement;

  afterUpdate(() => {
    const tooltipMode = getSetting(ModuleSetting.SEARCH_TOOLTIPS);

    if (resultList?.children[selectedIndex]) {
      const selected = resultList.children[selectedIndex] as HTMLElement;
      selected.scrollIntoView({ block: "nearest" });
      if (tooltipMode !== "off" && selected.dataset?.tooltip) {
        //@ts-expect-error update types...
        game.tooltip.activate(selected);
      } else {
        //@ts-expect-error update types...
        game.tooltip.deactivate();
      }
    } else {
      if (tooltipMode !== "off") {
        //@ts-expect-error update types...
        game.tooltip.deactivate();
      }
    }
  });

  function callAction(actionId: string, item: SearchItem, shiftKey: boolean) {
    dispatch("callAction", { actionId, item, shiftKey });
  }

  function getTooltip(item: SearchItem, side: "RIGHT" | "LEFT"): string {
    const tooltipMode = getSetting(ModuleSetting.SEARCH_TOOLTIPS);
    if (tooltipMode === "off") return "";

    const showImage = tooltipMode === "full" || tooltipMode === "image";
    const img =
      showImage && item.img
        ? `<img src=${item.img} style="max-width: 120px; float:${
            side === "LEFT" ? "right" : "left"
          };"/>`
        : "";

    const text =
      tooltipMode !== "image"
        ? `<p style='margin:0;text-align:left'>${item.icon} ${item.name}</p>
    <p style='font-size: 90%; opacity:0.8;margin:0;'>${item.tooltip}</p>`
        : "";

    return text + img;
  }
</script>

{#if active}
  <ul
    class="quick-insert-result"
    bind:this={resultList}
    data-tooltip-direction={tooltips}
  >
    {#each results as { item, match, actions, defaultAction }, i (item.uuid)}
      <li
        class:search-selected={i === selectedIndex}
        data-tooltip={getTooltip(item, tooltips)}
      >
        <!-- svelte-ignore a11y-missing-attribute -->
        <a
          draggable="true"
          title="{item.name}, {item.tagline}"
          on:dragstart={(event) =>
            event.dataTransfer?.setData(
              "text/plain",
              JSON.stringify(item.dragData)
            )}
          on:click|stopPropagation={(e) =>
            callAction(defaultAction, item, e.shiftKey)}
        >
          {#if item.img}
            <img src={item.img} />
          {:else}
            {@html item.icon}
          {/if}
          <span class="title">
            {@html formatMatch(
              { item, match },
              (str) => `<strong>${str}</strong>`
            )}
          </span>
          <span class="sub">{item.tagline}</span>
          <span class="action-icons">
            {#each actions as action}
              <i
                class="{action.icon} action-icon"
                class:selected={i === selectedIndex &&
                  (selectedAction
                    ? action.id === selectedAction
                    : action.id == defaultAction)}
                title="{action.title} &apos;{item.name}&apos;"
                data-action-id={action.id}
                on:click|stopPropagation={(e) =>
                  callAction(action.id, item, e.shiftKey)}
              />
            {/each}
          </span>
        </a>
      </li>
    {/each}
  </ul>
{/if}
