<script lang="ts">
</script>

<div class="quick-insert">
  <div
    class="search-editable-input"
    contenteditable="true"
    spellcheck={false} />
  <div class="quick-insert-result-wrapper">
    <ul class="quick-insert-result" />
  </div>
</div>
